<!-- Se usa class="timeline-select" en el <th> que se quiera resaltar, el css se encarga -->
<table>
    <tr>
        <th>Arpanet</th>
        <th>-</th>
        <th>Email</th>
        <th>-</th>
        <th>TPC/IP</th>
        <th>-</th>
        <th>Propuesta WWW</th>
        <th>-</th>
        <th>Lanzamiento WWW</th>
        <th>-</th>
        <th>Mosaic</th>
        <th>-</th>
        <th>Google</th>
        <th>-</th>
        <th>Facebook</th>
        <th>-</th>
        <th>YouTube</th>
        <th>-</th>
        <th>Twitter</th>
        <th>-</th>
        <th>iPhone</th>
        <th>-</th>
        <th>Chrome</th>
        <th>-</th>
        <th>Bitcoin</th>
        <th>-</th>
        <th>Instagram</th>
        <th>-</th>
        <th>Tiktok</th>
        <th>-</th>
        <th>Covid-19</th>
        <th>-</th>
        <th>ChatGPT</th>
        <th>-</th>
        <th>X</th>
    </tr>
</table>