body {
    background-color: #f0f0ff;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: #606060;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 200px;
}

p {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid;
    border-collapse: collapse;
    border-color: #444444;
}

th {
    background-color: #444444;
    color: white;
    font-weight: 100;
}

.timeline-select {
    color: #6688ff;
    font-weight: 1000;
}